[submodule "FCT_IMGUI"]
	path = FCT_IMGUI
	url = https://github.com/MaaBlock/FCT_IMGUI
[submodule "FCT"]
	path = FCT
	url = https://github.com/MaaBlock/FCT
[submodule "FCT_Node"]
	path = FCT_Node
	url = https://github.com/MaaBlock/FCT_Node
[submodule "FCT_Phys"]
	path = FCT_Phys
	url = https://github.com/MaaBlock/FCT_Phys
