/Docs/generated
/.idea
/cmake-build-debug
/cmake-build-release
/.vs
/out/build
/build
/build-debug
/build-release
/Engine/include
build.bat
load.bat
run.bat
build-vs2022-debug
build-vs2022-release
build-windows-release
build-windows-debug